* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Rubik", sans-serif;
}

.app {
  padding: 10px;
}

.header {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user {
  padding-top: 17px;
  padding-left: 5px;
}

.container-img-main {
  position: relative;
}

.img-main {
  display: block;
  width: 100%;
  height: 20%;
}

.text-main {
  white-space: nowrap;
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: SourceSansPro-Bold;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 15px;
}

.card {
  padding: 5px;
}

.points {
  display: flex;
  padding: 9px;
  padding-top: 15px;
  margin-right: 0px;
}

.btn-modal-points {
  display: flex;
  padding: 11px;
}

.disble-header-text {
  padding-top: 5%;
}
.card-coin-icon {
  cursor: pointer;
}

.card-buy-icon {
  margin-left: 80%;
  cursor: pointer;
}

.btn-modal-redeem {
  padding-top: 15px;
}

.menu {
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.filter-Menu {
  display: flex;
  flex-wrap: wrap;
}

.filter-buttons {
  display: flex;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 5%;
}

.semanticMenuText {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.arrow-icon {
  padding-top: 5px;
  padding-left: 25%;
}

.filter-tittle {
  padding-top: 1%;
  padding-left: 30%;
}
